/* Estilos para la página de registro */


/* Estilo para los encabezados de las secciones */
.container {
  justify-content: center;

}

img{
  width: 25%;
  height: 75%;
  margin-left: 37%;
}
#enca {
  border-bottom: 1px solid #dfe1e5;
  padding-bottom: 16px;

  h3 {
    font-size: 24px;
    font-weight: 600;
    color: #555555;
    margin-bottom: 0;
    display: flex; /* Agregado para centrar el elemento */
    justify-content: center; /* Agregado para centrar el elemento */
  }
}

/* Estilos para la etiqueta del formulario */
label {
  font-weight: bold;
}
.container form .form-control {
  width: 100%;
}

.container form .form-group {
  width: 100%;
}

#country {
  margin-bottom: 20px;
}

#indicator {
  margin-bottom: 10px;
}

#city {
  margin-left: 20px;
}

.col-lg-6.my-1:last-child {
  margin-bottom: 20px;
}



/* Estilos para el campo de texto del formulario */
input[type="text"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  margin-top: 0.5rem;
}

/* Estilos para los elementos del formulario */
.row:not(:last-child) {
  margin-bottom: 1rem;
}

/* Estilo para el botón de envío del formulario */

/* Estilo para los mensajes de error del formulario */
.text-danger {
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

/* Estilos para el contenido de la página */
.container {
  max-width: 960px;
  
}

/* Organizar el contenido en dos columnas */
@media (min-width: 992px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    
  }
  .col-lg-8 {
    width: 100%;
        max-width: 600px;
        height: 50%;
        border-radius: 20px;
        background-color: #fff;
        padding: 24px;
        
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  }
}
button {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #3c4043;
  }

  &.btn-primary {
    background-color: rgb(83, 113, 255);

    &:hover {
      background-color: #3c4043;
    }
  }

  &.btn-secondary {
    background-color: rgb(255, 222, 89);

    &:hover {
      background-color: #d4b24d;
    }
  }
}