   <div class="container">
        <div class="row">
          <div class="col-md-12 mt-4" >
            <div class="card mb-4 shadow-sm">
              <a href="AdminHome">
                  <img src="/assets/img/cfwa.png" class="card-img-top" alt="Project Image"></a>
              <div class="card-body">
                <h5 class="card-title">list of existing projects</h5>
                <hr _ngcontent-xoe-c18="" class="my-4">
                <div class="table-responsive">
                  <table class="table" id="project">
                    <thead>
                        <tr>
                            <th class="col-sm-1">Id</th>
                            <th class="col-sm-2">Name</th>
                            <th class="col-sm-2">Creator</th>
                            <th class="col-sm-2">Description</th>
                            <th class="col-sm-1">Total</th>
                            <th class="col-sm-2">Category</th>
                            <th class="col-sm-2">Status</th>
                            <th class="col-sm-2">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let project of listProject">
                                <td class="col-sm-1">{{project.id}}</td>
                                <td class="col-sm-2">{{project.projectName}}</td>
                                <td class="col-sm-2">{{project.idCreatorProject}}</td>
                                <td class="col-sm-2">{{project.description}}</td>
                                <td class="col-sm-1">{{project.total}}</td>
                                <td class="col-sm-2">{{project.categoryModel.type}}</td>
                                <td class="col-sm-2">{{project.status}}</td>
                                <td class="col-sm-2">  <a href="#" style="color: #cecece;" (click)="deleteProject($event,project.id)"><i class="fas fa-trash-alt"></i></a>
                                  </td>
                            </tr>
                        </tbody>
                  </table>
              </div>
                </div>
            </div>
          </div>
        </div>
      </div>  
      <router-outlet></router-outlet>
  

