<app-header></app-header>


  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <img src="/assets/img/cfwa.png" alt="Logo" class="img-fluid mb-4">
      <h1 class="display-4">Bienvenido a CFWA</h1>
      <p class="lead">La plataforma de crowdfunding líder en América Latina</p>
      <hr class="my-4">
      <p>Únete a nuestra comunidad y ayuda a hacer realidad los proyectos más innovadores e impactantes de la región.
      </p>
    </div>
  </div>
  <div class="container projects-section">
    <h1 class="text-center my-4">Proyectos</h1>
    <hr _ngcontent-xoe-c18="" class="my-4">
    <div class="row">
      <app-project-cards></app-project-cards>
    </div>
  </div>
