
.bg {
  background-color: white;
  background-image: url(/assets/img/cfwa.png);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
}
.p-4{
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
  
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

input#btnn{

    font-family: arial;
    background: linear-gradient(rgb(255, 222, 89), rgb(255, 222, 89));
    color: #f4f4f4;
    font-size: 20px;

}

a#btnn{

    color: rgb(83, 113, 255);
    font-family: var(--bs-font-sans-serif);
    font-size: 17px;

}

