<app-header></app-header>
<div class="container py-5">
    <div class="row">
        <div class="col-lg-4">
        <app-profile-card></app-profile-card>
    </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="container projects-section">
                    <h1 class="text-center my-4">Proyectos</h1>
                    <hr _ngcontent-xoe-c18="" class="my-4">
                    <div class="row">
                      <app-project-cards-seller></app-project-cards-seller>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>